body{
    background-color:lightblue
}
nav{
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: italic
}
body{
    background-image: url(https://vignette.wikia.nocookie.net/onepiece/images/a/ad/Chapter_156.png/revision/latest?cb=20130121043120);
    text-align:center;
    height:600px;
    background-size:cover
}
.nav-link {
    opacity:0.7;
    
    background-color: #eee
}

.services i{
    
    font-size: 30px;
    
    padding: 25px 20px;
    color:#7d0064;
    
    background-color:lightblue;
    width:80px;
    height: 80px;
    border-radius: 50%
}
.services span{
    width: 200px;
    display: inline-block;
}
